/** @format */

$fontGreyLL: rgb(225, 225, 225);
$fontGreyL: rgb(205, 205, 205);
$fontGreyLD: rgb(185, 185, 185);

$fontGreyML: rgb(165, 165, 165);
$fontGreyM: rgb(145, 145, 145);
$fontGreyMD: rgb(125, 125, 125);

$fontGreyDL: rgb(105, 105, 105);
$fontGreyD: rgb(85, 85, 85);
$fontGreyDD: rgb(65, 65, 65);

// linkicons
$twitterBlue: #1da1f2;
$githubBlack: #171515;
$linkedinBlue: #0072b1;
