/** @format */

.flex {
 display: flex;

 &.JC-SB {
  justify-content: space-between;
 }

 &.JC-SA {
  justify-content: space-around;
 }

 &.JC-SE {
  justify-content: space-evenly;
 }

 &.JC-S {
  justify-content: flex-start;
 }

 &.JC-C {
  justify-content: center;
 }

 &.JC-E {
  justify-content: flex-end;
 }

 &.FW-wrap {
  flex-wrap: wrap;
 }

 &.FD-C {
  flex-direction: column;
 }

 &.AI-C {
  align-items: center;
 }
}
