/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "./color";
@import "./flex";
@import "./spacing";

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
 color: $fontGreyMD;
 word-break: break-word;
}

.App {
 background-color: $mainGrey;
 min-height: 100vh;
}
