/** @format */

@import "@/style/color";

.employees-container {
 display: flex;
 gap: 2rem;
 padding: 1rem 2rem;
 min-height: 100%;

 &.cards {
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
 }

 &.list {
  flex-direction: column;
 }

 .no-results {
  text-align: center;
  gap: 3rem;

  h3 {
   margin-bottom: 1rem;
   color: $fontGreyD;
  }
 }
}
