/** @format */

.employees-container {
 display: flex;
 gap: 2rem;
 padding: 1rem 2rem;

 &.cards {
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
 }

 &.list {
  flex-direction: column;
 }
}
